/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 4.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --main-color: linear-gradient(45deg, hsl(215, 90%, 45%) 0%, hsl(204, 71%, 52%) 90%);
    --body-color: hsl(0, 0%, 98%);
    --title-color: hsl(227, 17%, 16%);
    --text-color: hsl(0, 0%, 54%);
    --text-color-dark: hsl(226, 14%, 49%);
    --bg-color: hsl(0, 0%, 85%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1124px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.section {
    padding: 4.5rem 0 2rem;
}

.main {
    overflow: hidden;
}

/* === BUTTONS === */
.btn-main {
    background: var(--main-color);
    color: hsl(0, 0%, 100%);
    border-radius: .5rem;
}

.btn-main:hover {
    background: linear-gradient(90deg, hsl(215, 90%, 45%) 0%, hsl(204, 71%, 52%) 65%);
}

.btn-alt {
    background: hsla(215, 90%, 45%, .10);
    color: hsl(215, 90%, 45%);
    border-radius: .5rem;
}

.btn-alt:hover {
    background: var(--main-color);
    color: hsl(0, 0%, 100%);
}

.btn-outline {
    border: 1px solid hsl(215, 90%, 45%);
    color: hsl(215, 90%, 45%);
    border-radius: .5rem;
}

.btn-outline:hover {
    border: none;
    background: var(--main-color);
    color: hsl(0, 0%, 100%);
}

/* === Utilities Class === */
.ml-auto {
    margin-left: auto;
}

/* === Modifier Class === */
.icon-red {
    background-color: hsl(8, 100%, 97%);
}

.icon-green {
    background-color: hsl(140, 56%, 95%);
}

.icon-yellow {
    background-color: hsl(38, 100%, 95%);
}

.icon-blue {
    background-color: hsl(204, 100%, 96%);
}

/*=============== HEADER ===============*/
header {
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 0 5.5rem 0 4.5rem;
    z-index: var(--z-fixed);
    height: var(--header-height);
    display: flex;
    align-items: center;
    column-gap: 3rem;
    transition: .4s;
}

.scroll-header {
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsla(0, 0%, 85%, .4);
}

nav {
    display: flex;
    flex-basis: 80%;
    align-items: center;
}

.nav__lists {
    display: flex;
    flex-basis: 100%;
    column-gap: 2.5rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__link:hover {
    background: var(--main-color);
    -webkit-background-clip: text;
    color: transparent;
}

.nav__register {
    padding: .5rem 1rem;
}

/*=============== HOME ===============*/
#home {
    margin-top: var(--header-height);
}

.home {
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    padding: 2.5rem 0 2rem;
}

.home__title {
    text-transform: capitalize;
    font-size: var(--biggest-font-size);
    color: var(--title-color);
    margin-bottom: 1rem;
}

.home__subtitle {
    background: var(--main-color);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: var(--font-medium);
}

.home__description {
    max-width: 44ch;
    margin-bottom: 2.5rem;
}

.home__btn {
    padding: .5rem 1rem;
}

.home__image {
    position: relative;
    justify-self: end;
    background: var(--main-color);
    height: 530px;
    width: 350px;
    border-radius: 2.5rem 1rem 2.5rem 1rem;
}

.home__image>img {
    display: block;
    position: absolute;
    bottom: 0;
    left: -20%;
    min-width: 430px;
    z-index: var(--z-tooltip);
}

.home__card {
    position: absolute;
    left: -55%;
    top: 20%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: -24px 27px 65px hsla(0, 0%, 85%, .4);
    border: 1px solid hsla(0, 0%, 85%, .4);
    border-radius: .5rem;
    padding: 1rem 0;
}

.home__card-title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    padding: 0 1.5rem;
}

.home__card-desc {
    font-size: var(--smaller-font-size);
    margin-bottom: .5rem;
    padding: 0 1.5rem;
}

.home__card-doctors {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-bottom: .5rem;
}

.home__card-doctor {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: .25rem 3rem .25rem 1.5rem;
}

.home__card-doctor:first-child {
    background-color: hsl(0, 0%, 96%);
}

.home__card-avatar {
    overflow: hidden;
    background-color: hsl(0, 0%, 85%);
    border-radius: 50%;
}

.home__card-avatar img {
    width: 40px;
    height: 40px;
    display: block;
}

.home__card-name {
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.home__card-job {
    font-size: var(--smaller-font-size);
}

.home__card-button {
    display: block;
    text-align: center;
    padding: .5rem 0;
    font-size: var(--small-font-size);
    text-transform: capitalize;
    margin: 0 1.5rem;
}

/*=============== SERVICE ===============*/
.service__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__title {
    color: var(--title-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: capitalize;
}

.service__desc {
    width: 30ch;
}

.service__cards {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.service__card {
    background-color: hsl(0, 0%, 100%);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}

.service__card-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .25rem .35rem;
    border-radius: .35rem;
    margin-bottom: 1rem;
}

.service__card-icon img {
    width: 25px;
    height: 25px;
}

.service__card-title {
    color: var(--title-color);
    text-transform: capitalize;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.25rem;
}

.service__card-desc {
    font-size: var(--small-font-size);
    line-height: 1.35rem;
    width: 26ch;
    margin-bottom: 2.5rem;
}

.service__card-link {
    color: hsl(22, 82%, 55%);
    display: inline-flex;
    column-gap: .5rem;
    align-items: center;
    transition: .3s;
}

.service__card-link:hover i {
    transform: translateX(5px);
}